<link rel="stylesheet" href="./styles/envelopes.css">

<div class="envelopes-wrapper">
    <div class="envelope1">✉</div>
    <div class="envelope2">✉</div>
    <div class="envelope3">✉</div>
    <div class="envelope4">✉</div>
    <div class="envelope5">✉</div>
</div>