<div class="table-show">
    <div class="content-wrapper">
        <h1 class="h1-cockpit">Hello you, <span class="user-name-cockpit">{{email}}</span>!</h1>
        <h2 class="h2-cockpit">What would you like to do today?</h2>
        <button class="btn-cockpit" id="btn-send">send new message</button>
        <button class="btn-cockpit" id="btn-show">show my messages</button>
        <button class="btn-cockpit" id="btn-logout">logout</button>
    </div>
</div>

<script type="module" src="./js/cockpit.js"></script>