<div class="table">
    <div class="content-wrapper-home"><h1 class="home">Navy-Efroyim Project</h1>
        <h2>Encrypted message sender</h2>
        <button class="btn-get-started" id="btn-get-started">Get Started</button>
        <a href="/login" class="login">login</a>
    </div>
</div>
<script src="./js/getStarted.js"></script>