<link rel="stylesheet" href="./styles/notFound.css">

<div class="table-show wobble-hor-bottom">
    <div class="content-wrapper">
        <h1>Error!</h1>
        <h2>Not found habibi!</h2>
        <a href="/" class="main">STOP IT!</a>
    </div>
</div>