<div class="table-show">
    <div class="content-wrapper">
        <h1>Registration</h1>
        <h2>Please register to send a message</h2>
        <form action="" class="register-form">
        <label for="input-email" class="label-email">
            <input type="email" id="input-email" class="input-email" name="email" placeholder="email">
        </label>
        <label for="input-password" class="label-password">
            <input type="password" id="input-password" class="input-password" name="password" placeholder="password">
        </label>
        <label for="input-confirmPassword" class="label-confirmPassword">
            <input type="password" id="input-confirmPassword" class="input-confirmPassword" name="passwordConfrim" placeholder="confirm password">
        </label>
        <button class="btn-register" id="btn-register" type="submit">register</button>
        </form>
        <a href="/" class="main">main</a>
    </div>
</div>