<link rel="stylesheet" href="./styles/envelopes.css">

<div class="envelopes-wrapper">
    <div class="envelope1">✉</div>
    <div class="envelope2">✉</div>
</div>


<div class="table">
    <div class="content-wrapper-home"> <h1>Thank you!</h1>
        <h2>Your message has been sent</h2>
        <a href="/" class="login">main</a>
    </div>
</div>