<div class="table">
    <div class="content-wrapper-home"> <h1>Thank you!</h1>
        <h2>Your message has been sent to <span class="span-thankyou">{{recipient}}</span>.</h2>
        <a href="/cockpit" class="a-cards">cockpit</a>
    </div>
</div>