.table-decrypt {
    width: 700px;
    height: 800px;
}

.h1-decrypt {
    margin-bottom: 60px;
}

.textarea-decrypt {
    margin-top: 60px;
    height: 300px;
    font-size: 3rem;
}

input {
    font-size: 3rem;
}
