.envelope1 {
    position: absolute;
    font-size: 100px;
    z-index: -10;
    color: rgba(255, 255, 255, 0.05);
    top: 0;
    left: -300vw;
    animation: 5s linear 0s infinite alternate-reverse flying1;
}

.envelope2 {
    position: absolute;
    font-size: 100px;
    z-index: -10;
    color: rgba(255, 255, 255, 0.05);
    top: 80vh;
    left: -400vw;
    animation: 4s linear 2s infinite alternate-reverse flying1;
}

@keyframes flying1 {
    0% {
        left: -300vw;
    }
    100% {
        left: 300vw;
    }
}

@keyframes flying2 {
    0% {
        left: -400vw;
    }
    100% {
        left: 400vw;
    }
}