@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: white;
    font-family: 'VT323', monospace;
    font-size: 10px;
}

body {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(45, 43, 56);
    background: radial-gradient(circle, rgba(45, 43, 56, 1) 0%, rgba(62, 59, 74, 1) 100%, rgba(45, 43, 56, 1) 100%);
    height: 95vh;
    overflow: hidden;
}

.table-hide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-show {
    background-color: #353343;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 3px 3px 5px 0 #23222c;
    width: 500px;
    height: 600px;
}

.content-wrapper {
    width: 70%;
    text-align: center;
}

.content-wrapper-home {
    text-align: center;
}

h1, h2 {
    margin-bottom: 10px;
    font-size: 5rem;
    color: #fd99ff;
    text-shadow: 6px 3px 1px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 3rem;
    margin-bottom: 40px;
}

h1.home {
    font-size: 7rem;
}

.register-form {
    margin-top: 50px;
}

input {
    margin-top: 20px;
    padding: 2px 15px;
    display: block;
    color: #4DF45AFF;
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
    background: 0;
    width: 100%;
    border: 0;
    border-bottom: solid 1px rgba(253, 153, 255, 0.1);
}

.textarea {
    resize: none;
    margin-top: 20px;
    padding: 2px 15px;
    display: block;
    color: #4DF45AFF;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    background: 0;
    width: 100%;
    height: 60px;
    border: 0;
    border-bottom: solid 1px rgba(253, 153, 255, 0.1);
}

button {
    color: #4DF45AFF;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    transition: color .1s
}

.btn-get-started {
    background-color: rgba(77, 244, 90, 0);
    padding: 30px 50px;
    margin: 20px;
    font-size: 5rem;
    animation: btn-pulse .6s ease-in infinite;
    animation-direction: alternate;
}

.btn-register {
    background-color: rgba(109, 93, 141, 0.5);
    padding: 20px 40px;
    margin: 40px 20px 20px 20px;
    font-size: 3rem;
}


button:hover {
    color: #00ff11;
}

button:active {
    transform: scale(0.98);
    background-color: rgba(109, 93, 141, 1);
}

button:focus, textarea:focus, input:focus {
    outline: 0;
}

a {
    display: block;
    font-family: 'VT323', monospace;
    text-decoration: underline;
    color: rgba(253, 153, 255, 0.75);
    font-size: 2rem;
    transition: color 0.1s;
}

a:hover {
    color: #f55cf8;
}

a:active {
    transform: scale(0.95);
}

@keyframes btn-pulse {
    from {
        background-color: rgba(109, 93, 141, 0);
    }

    to {
        background-color: rgba(109, 93, 141, 0.5);
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }
}